services:
  dns-service:
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile.jvm
    container_name: dns-filtering-service
    ports:
      - "8080:8080"
    depends_on:
      - mariadb
      - kafka
      - lgtm
      - ollama

  lgtm:
    image: docker.io/grafana/otel-lgtm
    container_name: lgtm
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "4317:4317"

  mariadb:
    image: docker.io/library/mariadb
    container_name: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=quarkus
      - MYSQL_DATABASE=quarkus
      - MYSQL_USER=quarkus
      - MYSQL_PASSWORD=quarkus
    ports:
      - "3306:3306"

  ollama:
    image: docker.io/ollama/ollama
    container_name: ollama
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
    ports:
      - "11434:11434"

  kafka:
    image: docker.io/redpandadata/redpanda
    container_name: kafka
    ports:
      - "9092:9092"
      - "8082:8082"
